
    <div class="card user-wideget user-wideget-widget widget-user">
      <div class="widget-user-header" [ngClass]="bgColor">
        <h3 class="widget-user-username">{{ name }}</h3>
        <h5 class="widget-user-desc text-fixed-white">{{ role }}</h5>
      </div>
      <div class="widget-user-image">
        <img [src]="imageUrl" class="rounded-circle" alt="User Avatar" />
      </div>
      <div class="user-wideget-footer">
        <div class="row mx-0">
          <div class="col-sm-4 border-end">
            <div class="description-block">
              <h5 class="description-header">{{ sales }}</h5>
              <span class="description-text">SALES</span>
            </div>
          </div>
          <div class="col-sm-4 border-end">
            <div class="description-block">
              <h5 class="description-header">{{ followers }}</h5>
              <span class="description-text">FOLLOWERS</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header">{{ products }}</h5>
              <span class="description-text">PRODUCTS</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  