<app-page-header [title]="'Breadcrumb'"
  [items]="['Elements']"
  [active_item]="'Breadcrumb'"
 />

 <!--ROW-START-->
 <div class="row">
   <div class="col-xl-6">
     <app-showcode-card [title]="'Example'" [prism]="prsimCodeData.breadcrumbTS">
       <cs-breadcrumb >
         <li class="breadcrumb-item active" aria-current="page">Home</li>
       </cs-breadcrumb>
         <cs-breadcrumb  >
           <li class="breadcrumb-item">
             <a href="javascript:void(0);">Home</a>
           </li>
           <li class="breadcrumb-item active" aria-current="page">Library</li>
           </cs-breadcrumb>
           <cs-breadcrumb [olClass]="'mb-1'" >
           <li class="breadcrumb-item">
             <a href="javascript:void(0);">Home</a>
           </li>
           <li class="breadcrumb-item">
             <a href="javascript:void(0);">Library</a>
           </li>
           <li class="breadcrumb-item active" aria-current="page">Data</li>
           </cs-breadcrumb>
     </app-showcode-card>
   </div>
   <div class="col-xl-6">
     <app-showcode-card [title]="'Example1'" [prism]="prsimCodeData.breadcrumbTS1">
           <cs-breadcrumb [olClass]="'breadcrumb-example1'" >
           <li class="breadcrumb-item active" aria-current="page">Home</li>
           </cs-breadcrumb>
           <cs-breadcrumb [olClass]="'breadcrumb-example1'" >
           <li class="breadcrumb-item">
             <a href="javascript:void(0);">Home</a>
           </li>
           <li class="breadcrumb-item active" aria-current="page">Library</li>
           </cs-breadcrumb>
           <cs-breadcrumb [olClass]="'breadcrumb-example1 mb-0'" >
             <li class="breadcrumb-item">
               <a href="javascript:void(0);">Home</a>
             </li>
             <li class="breadcrumb-item">
               <a href="javascript:void(0);">Library</a>
             </li>
             <li class="breadcrumb-item active" aria-current="page">Data</li>
             </cs-breadcrumb>
     </app-showcode-card>
   </div>
  
   <div class="col-xl-6">
     <app-showcode-card [title]="'Breadcrumb Style-1'" [prism]="prsimCodeData.breadcrumbTS4">
           <cs-breadcrumb [olClass]="' breadcrumb-style1 mb-0'">
           <li class="breadcrumb-item">
             <a href="javascript:void(0);">Home</a>
           </li>
           <li class="breadcrumb-item">
             <a href="javascript:void(0);">Library</a>
           </li>
           <li class="breadcrumb-item active" aria-current="page">Data</li>
           </cs-breadcrumb>
     </app-showcode-card>
   </div>
   <div class="col-xl-6">
     <app-showcode-card [title]="'Breadcrumb Style-2'" [prism]="prsimCodeData.breadcrumbTS5">
           <cs-breadcrumb [olClass]="' breadcrumb-style2 mb-0'">
             <li class="breadcrumb-item">
               <a href="javascript:void(0);"><i class="ti ti-home-2 me-1 fs-15 d-inline-flex"></i>Home</a>
             </li>
             <li class="breadcrumb-item">
               <a href="javascript:void(0);"><i class="ti ti-apps me-1 fs-15 d-inline-flex"></i>About</a>
             </li>
             <li class="breadcrumb-item active" aria-current="page">Services</li>
           </cs-breadcrumb>
     </app-showcode-card>
   </div>
   <div class="col-xl-12">
    <app-showcode-card [title]="'Background Colors'" [prism]="prsimCodeData.breadcrumbTS3">
          <cs-breadcrumb [olClass]="' mb-0'" [ngStyle]="divider1" >
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Home</a>
          </li>
          <li class="breadcrumb-item active embedded-breadcrumb" aria-current="page">
            Library
          </li>
          </cs-breadcrumb>
    </app-showcode-card>
  </div>
  <div class="col-xl-6">
    <app-showcode-card [title]="'Embedded SVG icon'" [prism]="prsimCodeData.breadcrumbTS3">
          <cs-breadcrumb [olClass]="' mb-0 custom-breadcrumb'" [ngStyle]="breadcrumbStyle" >
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Home</a>
          </li>
          <li class="breadcrumb-item active embedded-breadcrumb" aria-current="page">
            Library
          </li>
          </cs-breadcrumb>
    </app-showcode-card>
  </div>
   <div class="col-xl-6">
     <app-showcode-card [title]="'Dividers'" [prism]="prsimCodeData.breadcrumbTS2">
           <cs-breadcrumb [olClass]="'mb-0'" [ngStyle]="divider">
           <li class="breadcrumb-item">
             <a href="javascript:void(0);">Home</a>
           </li>
           <li class="breadcrumb-item active" aria-current="page">Library</li>
           </cs-breadcrumb>
     </app-showcode-card>
   </div>
 </div>
 <!--ROW-END-->
 
