<app-page-header [title]="'Mail Settings'"
[items]="['Mail']"
  [active_item]="'Mail Settings'"
 />


<!-- Start::row-1 -->
					<div class="row">
						<div class="col-lg-4 col-xl-3">
							<div class="card mg-b-20">
								<div class="main-content-left main-content-left-mail card-body">
									<a class="btn btn-primary btn-compose" routerLink="/pages/mail-compose" id="btnCompose">Compose</a>
									<div class="main-mail-menu">
										<nav class="nav main-nav-column mg-b-20">
											<a class="nav-link" href="javascript:void(0);"><i class="bx bxs-inbox"></i> Inbox <span>18</span></a>
											<a class="nav-link" href="javascript:void(0);"><i class="bx bx-star"></i> Starred <span>8</span></a>
											<a class="nav-link" href="javascript:void(0);"><i class="bx bx-alarm-snooze"></i> Snoozed <span>6</span></a>
											<a class="nav-link" href="javascript:void(0);"><i class="bx bx-bookmarks"></i> Important <span>15</span></a>
											<a class="nav-link" href="javascript:void(0);"><i class="bx bx-send"></i> Sent Mail <span>24</span></a>
											<a class="nav-link" href="javascript:void(0);"><i class="bx bx-edit"></i> Drafts <span>2</span></a>
											<a class="nav-link" href="javascript:void(0);"><i class="bx bx-message-error"></i> Spam <span>32</span></a>
											<a class="nav-link" href="javascript:void(0);"><i class="bx bx-message-square-detail"></i> Chats <span>14</span></a>
											<a class="nav-link" href="javascript:void(0);"><i class="bx bx-folder-open"></i> All Mail <span>652</span></a>
											<a class="nav-link" href="javascript:void(0);"><i class="bx bx-book-content"></i> Contacts <span>547</span></a>
											<a class="nav-link" href="javascript:void(0);"><i class="bx bx-trash"></i> Trash <span>365</span></a>
										</nav>
										<label class="main-content-label main-content-label-sm">Settings</label>
										<nav class="nav main-nav-column">
											<a class="nav-link active" href="javascript:void(0);">Email Settings</a>
											<a class="nav-link" href="javascript:void(0);">Account Information</a>
										</nav>
									</div><!-- main-mail-menu -->
								</div>
							</div>
						</div>
						<div class="col-lg-8 col-xl-9">
							<div class="card">
								<div class="card-body">
									<form class="form-horizontal">
										<div class="mb-4 main-content-label">Account</div>
										<div class="form-group mb-3">
											<div class="row">
												<div class="col-md-3">
													<label class="form-label">User Name</label>
												</div>
												<div class="col-md-9">
													<input type="text" class="form-control"  placeholder="User Name" value="Petey">
												</div>
											</div>
										</div>
										<div class="form-group mb-3">
											<div class="row">
												<div class="col-md-3">
													<label class="form-label">Email</label>
												</div>
												<div class="col-md-9">
													<input type="text" class="form-control"  placeholder="Email" value="info@CS.in">
												</div>
											</div>
										</div>
										<div class="form-group mb-3">
											<div class="row">
												<div class="col-md-3">
													<label class="form-label">Language</label>
												</div>
												<div class="col-md-9">
													<cs-ng-select 
													[options]="selectValues"
													[selectClass]="'form-control'"
													[clearable]="true"
													[searchable]="true"
													[hideSelected]="true"
													[placeholder]="'Usa'"
													[additionalProperties]="{}">
													</cs-ng-select>
												</div>
											</div>
										</div>
										<div class="form-group mb-3">
											<div class="row">
												<div class="col-md-3">
													<label class="form-label">Timezone</label>
												</div>
												<div class="col-md-9">
													<cs-ng-select 
          [options]="selectTimeZone"
          [selectClass]="'form-control'"
          [clearable]="true"
          [searchable]="true"
          [hideSelected]="true"
          [placeholder]="'(GMT-11:00) Midway Island, Samoa'"
          [additionalProperties]="{}">
          </cs-ng-select>
												</div>
											</div>
										</div>
										<div class="form-group mb-3">
											<div class="row">
												<div class="col-md-3 col">
													<label class="form-label">Verification</label>
												</div>
												<div class="col-md-9 col">
													<label class="ckbox mg-b-10 me-2"><input type="checkbox"><span>Email</span></label>
													<label class="ckbox mg-b-10 me-2"><input checked="" type="checkbox"><span>SMS</span></label>
													<label class="ckbox mg-b-10"><input type="checkbox"><span>Phone</span></label>
												</div>
											</div>
										</div>
										<div class="mb-4 main-content-label">Security Settings</div>
										<div class="form-group mb-3">
											<div class="row">
												<div class="col-md-3">
													<label class="form-label">Login Verification</label>
												</div>
												<div class="col-md-9">
													<a class="text-primary" href="javascript:void(0);">Settup Verification</a>
												</div>
											</div>
										</div>
										<div class="form-group mb-3">
											<div class="row">
												<div class="col-md-3">
													<label class="form-label">Password Verification</label>
												</div>
												<div class="col-md-9">
													<label class="ckbox mg-b-10"><input type="checkbox"><span>Require Personal Details</span></label>
												</div>
											</div>
										</div>
										<div class="form-group mb-3">
											<div class="row">
												<div class="col-md-3">
												</div>
												<div class="col-md-9">
													<a class="me-5 d-inline-block text-primary" href="javascript:void(0);">Deactivate Account</a>
													<a class="text-primary" href="javascript:void(0);">Change Password</a>
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="card-footer">
									<div class="float-end"><a href="javascript:void(0);" class="btn btn-success">Save Changes</a></div>
								</div>
							</div>
						</div>
					</div>
                <!--End::row-1 -->

