
    <div class="card">
      <div class="card-header pb-0">
        <div class="card-title pb-0 mb-2">{{ title }}</div>
        <p class="fs-12 text-gray-5 mb-3">
          {{ description }}
          <a href="javascript:void(0);" class="text-primary">Learn more</a>
        </p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col text-center">
            <label class="fs-12">Today</label>
            <p class="fw-bold fs-20">{{ todayValue }}</p>
          </div>
          <div class="col border-start text-center">
            <label class="fs-12">This Week</label>
            <p class="fw-bold fs-20">{{ weekValue }}</p>
          </div>
          <div class="col border-start text-center">
            <label class="fs-12">This Month</label>
            <p class="fw-bold fs-20">{{ monthValue }}</p>
          </div>
        </div>
        <div class="progress mb-3 ht-20 mt-3" role="progressbar" [attr.aria-valuenow]="progressPercentage" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated {{ progressBarClass }} ht-20" [style.width.%]="progressPercentage">
              {{ progressPercentage }}%
            </div>
          </div>
      </div>
    </div>
  
  