#left-defaults,
#right-defaults,
#left-events
{
  touch-action: none;
}
::ng-deep{
  app-darggablecards{
      .tx-white-7:hover {
          color: rgba(255, 255, 255, 0.9) !important;
      }    
  }
}
.card-img-bottom {    
  width: 100%;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

// .card {
//   cursor: move; 
//   margin-bottom: 1rem;
 
// }


// .sortable-ghost {
//   opacity: 0.5;
// }

// .sortable-chosen {
//   box-shadow: 0 0 10px rgba(0,0,0,0.2);
// }

