<!-- Page Header -->
<app-page-header [title]="'Apex Bubble Charts'"
  [items]="['Apex Charts']"
  [active_item]="'Apex Bubble Charts'"
 />
<!-- Page Header Close -->
<!-- Start::row-1 -->
<div class="row">
  <div class="col-xl-6">
      <div class="card custom-card">
          <div class="card-header">
              <div class="card-title">Simple Bubble Chart</div>
          </div>
          <div class="card-body">
              <div id="bubble-simple">
                  <cs-apexcharts [chartOptions]="BubbleChartData"></cs-apexcharts>
              </div>
          </div>
      </div>
  </div>
  <div class="col-xl-6">
      <div class="card custom-card">
          <div class="card-header">
              <div class="card-title">3D Bubble Chart</div>
          </div>
          <div class="card-body">
              <div id="bubble-3d">
                  <cs-apexcharts [chartOptions]="ThreeDChartData"></cs-apexcharts>
                
              </div>
          </div>
      </div>
  </div>
</div>
<!--End::row-1 -->