<!-- Page Header -->
<app-page-header [title]="'Full Calendar'"
  [items]="['Apps']"
  [active_item]="'Full Calendar'"
 />
<!-- Page Header Close -->
   <!-- Start::row-1 -->
                <div class="row">
                    <div class="col-xl-3">
                        <div class="card custom-card">
                            <div class="card-header d-grid">
                                <button class="btn btn-primary-light btn-wave"><i class="ri-add-line align-middle me-1 fw-semibold d-inline-block"></i>Create New Event</button>
                            </div>
                            <div class="card-body p-0">
                                <div id="external-events" #external class="p-3 mt-1 border-0">
                                    <div
                                      class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event bg-primary border border-primary">
                                      <div class="fc-event-main">Calendar Events</div>
                                    </div>
                                    <div
                                      class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event bg-secondary border border-secondary"
                                      data-class="bg-secondary">
                                      <div class="fc-event-main">Birthday EVents</div>
                                    </div>
                                    <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event bg-success border border-success"
                                      data-class="bg-success">
                                      <div class="fc-event-main">Holiday Calendar</div>
                                    </div>
                                    <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event bg-info border border-info"
                                      data-class="bg-info">
                                      <div class="fc-event-main">Office Events</div>
                                    </div>
                                    <div
                                      class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event bg-warning border border-warning"
                                      data-class="bg-warning">
                                      <div class="fc-event-main">Other Events</div>
                                    </div>
                                    <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event bg-danger border border-danger"
                                      data-class="bg-danger">
                                      <div class="fc-event-main">Festival Events</div>
                                    </div>
                                    <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event bg-teal border border-teal"
                                      data-class="bg-danger">
                                      <div class="fc-event-main">Timeline Events</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Full Calendar</div>
                            </div>
                            <div class="card-body">
                                <div id='calendar2'>
                                  <full-calendar  [options]="calendarOptions"></full-calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End::row-1 -->