
    <div [ngClass]="'card ' + bgColor + '-gradient text-fixed-white'">
      <div class="card-body text-fixed-white">
        <div class="row">
          <div class="col-6">
            <div class="icon1 mt-2 text-center">
              <i [ngClass]="'fe fe-' + icon + ' fs-40'"></i>
            </div>
          </div>
          <div class="col-6">
            <div class="mt-0 text-center">
              <span class="text-fixed-white">{{ title }}</span>
              <h3 class="text-fixed-white mb-0">{{ value }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  