::ng-deep {
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece {
    border-color: var(--default-border) !important;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: transparent !important;
  }
  @media screen and (max-width:400px) {
    .mat-mdc-paginator-range-label {
        display: none;
    }
  }
  @media screen and (max-width:605px) {
    .mat-mdc-paginator {
        margin-top: 10px;
    }
    .mat-mdc-paginator-container {
        padding: 0 !important;
    }
    .mat-mdc-paginator-page-size,.mat-mdc-paginator-page-size-select {
        margin: 0 !important;
    }
  }
}
