<div class="page error-bg" id="particles-js">
  <!-- Start::error-page -->
  <div class="main-error-wrapper page-h">
    <img
      src="./assets/images/media/pngs/1.png"
      class="error-page-img"
      alt="error"
    />
    <h2 class="title">Oopps. The page you were looking for doesn't exist.</h2>
    <h6 class="sub_title">
      You may have mistyped the address or the page may have moved.
    </h6>
    <a class="btn btn-outline-danger" routerLink="/dashboard">Back to Home</a>
  </div>
</div>
