<app-page-header [title]="'TodoTask'"
  [items]="['Pages']"
  [active_item]="'TodoTask'"
 />

<!-- Start::row-1 -->
<div class="row">
  <div class="col-xl-9 col-md-12">
    <div class="row row-sm">
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-body d-flex p-3 align-items-center">
            <div class="main-content-label mb-0 mg-t-8">User Today Tasks</div>
            <div class="ms-auto">
              <a class="d-block fs-20" placement="left" ngbTooltip="Add New User"><i class="si si-plus text-muted"></i></a>
            </div>
          </div>
        </div>
      </div>
      @for (task of tasks; track $index) {
        <div class="col-xl-4 col-md-6">
        <cs-pages-todotask
          [profileImage]="task.profileImage"
          [assignedTasks]="task.assignedTasks"
          [userName]="task.userName"
          [userRole]="task.userRole"
          [taskStatus]="task.taskStatus"
          [taskTime]="task.taskTime"
          [taskTitle]="task.taskTitle"
          [taskDescription]="task.taskDescription"
          [taskColor]="task.taskColor"
          [taskBtnColor]="task.taskBtnColor"
          [disabled]="task.disabled"
        ></cs-pages-todotask>
        </div>
      }
    </div>
  </div>
  <div class="col-lg-12 col-xl-3">
    <div class="card card--events mb-4 overflow-hidden">
      <div class="card-body">
        <div class="p-4">
          <div class="main-content-label">Tasks</div>
          <p class="mb-0">
            It is Very Easy to Customize and it uses in website apllication.
          </p>
        </div>
        <div class="list-group to-do-tasks rounded-0">
          <a class="list-group-item" href="javascript:void(0);">
            <div class="event-indicator bg-info"></div>
            <h6 class="mb-0">Today Tasks</h6>
          </a>
          <a class="list-group-item" href="javascript:void(0);">
            <div class="event-indicator bg-primary"></div>
            <h6 class="mb-0">Yesterday Tasks</h6>
          </a>
          <a class="list-group-item" href="javascript:void(0);">
            <div class="event-indicator bg-success"></div>
            <h6 class="mb-0">Weakly Tasks</h6>
          </a>
          <a class="list-group-item" href="javascript:void(0);">
            <div class="event-indicator bg-danger"></div>
            <h6 class="mb-0">Mothly Tasks</h6>
          </a>
          <a class="list-group-item border-bottom-0" href="javascript:void(0);">
            <div class="event-indicator bg-warning"></div>
            <h6 class="mb-0">User Tasks</h6>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body p-0">
        <div class="pt-4 px-4">
          <div class="main-content-label">Recent Tasks</div>
          <p class="mb-4">
            It is Very Easy to Customize and it uses in website apllication.
          </p>
        </div>
        <div class="d-flex p-3 border-top">
          <label class="ckbox"
            ><input class="mb-2" checked="" type="checkbox" /><span
              >Do something more</span
            ></label
          >
          <span class="ms-auto">
            <i
              class="si si-pencil text-primary me-2"
              data-bs-toggle="tooltip"
              title=""
              placement="top"
              ngbTooltip="Edit"
            ></i>
            <i
              class="si si-trash text-danger me-2"
              data-bs-toggle="tooltip"
              title=""
              placement="top"
              ngbTooltip="Delete"
            ></i>
          </span>
        </div>
        <div class="d-flex p-3 border-top">
          <label class="ckbox"
            ><input class="mb-2" checked="" type="checkbox" /><span
              >Update More Files</span
            ></label
          >
          <span class="ms-auto">
            <i
              class="si si-pencil text-primary me-2"
              data-bs-toggle="tooltip"
              title=""
               placement="top"
              ngbTooltip="Edit"
            ></i>
            <i
              class="si si-trash text-danger me-2"
              data-bs-toggle="tooltip"
              title=""
             placement="top"
              ngbTooltip="Delete"
            ></i>
          </span>
        </div>
        <div class="d-flex p-3 border-top">
          <label class="ckbox"
            ><input class="mb-2" type="checkbox" /><span
              >Complete Projects</span
            ></label
          >
          <span class="ms-auto">
            <i
              class="si si-pencil text-primary me-2"
              data-bs-toggle="tooltip"
              title=""
               placement="top"
              ngbTooltip="Edit"
            ></i>
            <i
              class="si si-trash text-danger me-2"
              data-bs-toggle="tooltip"
              title=""
             placement="top"
              ngbTooltip="Delete"
            ></i>
          </span>
        </div>
        <div class="d-flex p-3 border-top">
          <label class="ckbox"
            ><input class="mb-2" type="checkbox" /><span
              >Finish Something</span
            ></label
          >
          <span class="ms-auto">
            <i
              class="si si-pencil text-primary me-2"
              data-bs-toggle="tooltip"
              title=""
               placement="top"
              ngbTooltip="Edit"
            ></i>
            <i
              class="si si-trash text-danger me-2"
              data-bs-toggle="tooltip"
              title=""
             placement="top"
              ngbTooltip="Delete"
            ></i>
          </span>
        </div>
        <div class="d-flex p-3 border-top">
          <label class="ckbox"
            ><input class="mb-2" checked="" type="checkbox" /><span
              >System Updated</span
            ></label
          >
          <span class="ms-auto">
            <i
              class="si si-pencil text-primary me-2"
              data-bs-toggle="tooltip"
              title=""
               placement="top"
              ngbTooltip="Edit"
            ></i>
            <i
              class="si si-trash text-danger me-2"
              data-bs-toggle="tooltip"
              title=""
             placement="top"
              ngbTooltip="Delete"
            ></i>
          </span>
        </div>
        <div class="d-flex p-3 border-top">
          <label class="ckbox"
            ><input class="mb-2" type="checkbox" /><span
              >Change Settings</span
            ></label
          >
          <span class="ms-auto">
            <i
              class="si si-pencil text-primary me-2"
              data-bs-toggle="tooltip"
              title=""
               placement="top"
              ngbTooltip="Edit"
            ></i>
            <i
              class="si si-trash text-danger me-2"
              data-bs-toggle="tooltip"
              title=""
             placement="top"
              ngbTooltip="Delete"
            ></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- row closed -->
