<app-page-header [title]="'Search'"
  [items]="['Advanced Ui']"
  [active_item]="'Search'"
 />

<!-- Start::row-1 -->
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card custom-card">
      <div class="card-body pb-0">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Searching....."
          />
          <button class="btn ripple btn-primary" type="button">Search</button>
        </div>
      </div>
      <div class="card-body ps-0 pe-0 bd-t-0 pt-0">
        <div class="main-content-body-profile search-nav-style mb-3">
          <nav ngbNav class="nav main-nav-line border-top px-3 px-sm-0">
            <ng-container ngbNavItem>
              <a  ngbNavLink class="nav-link " data-bs-toggle="tab"
                >All</a
              ></ng-container
            >
            <ng-container ngbNavItem
              ><a ngbNavLink class="nav-link" data-bs-toggle="tab" >Images</a></ng-container
            >
            <ng-container ngbNavItem
              ><a ngbNavLink class="nav-link" data-bs-toggle="tab">Books</a></ng-container
            >
            <ng-container ngbNavItem
              ><a ngbNavLink class="nav-link" data-bs-toggle="tab">News</a></ng-container
            >
            <ng-container ngbNavItem
              ><a ngbNavLink class="nav-link" data-bs-toggle="tab">Videos</a></ng-container
            >
          </nav>
        </div>
        <p class="text-muted mb-0 ps-3">
          About 12,546,90000 results (0.56 Seconds)
        </p>
      </div>
    </div>
    <div class="card custom-card">
      <div class="card-body">
        <div class="mb-2">
          <a href="javascript:void(0);" class="h5 card-title"
            >Search the new animations</a
          >
        </div>
        <h6 class="fs-13">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur eu fugiat nulla pariatur
        </h6>
        <p class="mb-0 text-muted">
          it is pleasure, but because those who do not know how to pursue
          pleasure rationally encounter consequences that are extremely painful.
          Nor again is there anyone who loves or pursues or desires to obtain
          pain of itself, because it is pain, but because occasionally
          circumstances occur in which toil and pain can procure him some great
          pleasure. To take a trivial example, which of us ever undertakes
          laborious physical exercise, except to obtain some advantage from it?
          But who has any right to find fault with a man who chooses to enjoy a
          pleasure that has no annoying consequences
        </p>
      </div>
    </div>
    <div class="card custom-card">
      <div class="card-body">
        <div class="mb-2">
          <a href="javascript:void(0);" class="h5 card-title"
            >Free Boostrap admin templates</a
          >
        </div>
        <h6 class="fs-13">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur eu fugiat nulla pariatur
        </h6>
        <p class="mb-0 text-muted">
          it is pleasure, but because those who do not know how to pursue
          pleasure rationally encounter consequences that are extremely painful.
          Nor again is there anyone who loves or pursues or desires to obtain
          pain of itself, because it is pain, but because occasionally
          circumstances occur in which toil and pain can procure him some great
          pleasure. To take a trivial example, which of us ever undertakes
          laborious physical exercise, except to obtain some advantage from it?
          But who has any right to find fault with a man who chooses to enjoy a
          pleasure that has no annoying consequences
        </p>
      </div>
    </div>
    <div class="card custom-card">
      <div class="card-body">
        <div class="mb-2">
          <a href="javascript:void(0);" class="h5 card-title"
            >20+ download the free templates</a
          >
        </div>
        <h6 class="fs-13">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur eu fugiat nulla pariatur
        </h6>
        <p class="mb-0 text-muted">
          it is pleasure, but because those who do not know how to pursue
          pleasure rationally encounter consequences that are extremely painful.
          Nor again is there anyone who loves or pursues or desires to obtain
          pain of itself, because it is pain, but because occasionally
          circumstances occur in which toil and pain can procure him some great
          pleasure. To take a trivial example, which of us ever undertakes
          laborious physical exercise, except to obtain some advantage from it?
          But who has any right to find fault with a man who chooses to enjoy a
          pleasure that has no annoying consequences
        </p>
      </div>
    </div>
    <div class="card custom-card">
      <div class="card-body">
        <div class="mb-2">
          <a href="javascript:void(0);" class="h5 card-title"
            >Customizable admin templates</a
          >
        </div>
        <h6 class="fs-13">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur eu fugiat nulla pariatur
        </h6>
        <p class="mb-0 text-muted">
          it is pleasure, but because those who do not know how to pursue
          pleasure rationally encounter consequences that are extremely painful.
          Nor again is there anyone who loves or pursues or desires to obtain
          pain of itself, because it is pain, but because occasionally
          circumstances occur in which toil and pain can procure him some great
          pleasure. To take a trivial example, which of us ever undertakes
          laborious physical exercise, except to obtain some advantage from it?
          But who has any right to find fault with a man who chooses to enjoy a
          pleasure that has no annoying consequences
        </p>
      </div>
    </div>
    <div class="card custom-card">
      <div class="card-body">
        <div class="mb-2">
          <a href="javascript:void(0);" class="h5 card-title"
            >HTML Admin templates</a
          >
        </div>
        <h6 class="fs-13">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur eu fugiat nulla pariatur
        </h6>
        <p class="mb-0 text-muted">
          it is pleasure, but because those who do not know how to pursue
          pleasure rationally encounter consequences that are extremely painful.
          Nor again is there anyone who loves or pursues or desires to obtain
          pain of itself, because it is pain, but because occasionally
          circumstances occur in which toil and pain can procure him some great
          pleasure. To take a trivial example, which of us ever undertakes
          laborious physical exercise, except to obtain some advantage from it?
          But who has any right to find fault with a man who chooses to enjoy a
          pleasure that has no annoying consequences
        </p>
      </div>
    </div>
    <div class="card custom-card">
      <div class="card-body">
        <div class="mb-2">
          <a href="javascript:void(0);" class="h5 card-title"
            >Best free admin templates</a
          >
        </div>
        <h6 class="fs-13">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur eu fugiat nulla pariatur
        </h6>
        <p class="mb-0 text-muted">
          it is pleasure, but because those who do not know how to pursue
          pleasure rationally encounter consequences that are extremely painful.
          Nor again is there anyone who loves or pursues or desires to obtain
          pain of itself, because it is pain, but because occasionally
          circumstances occur in which toil and pain can procure him some great
          pleasure. To take a trivial example, which of us ever undertakes
          laborious physical exercise, except to obtain some advantage from it?
          But who has any right to find fault with a man who chooses to enjoy a
          pleasure that has no annoying consequences
        </p>
      </div>
    </div>
    <div class="text-center search">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="javascript:void(0);"
            ><i class="icon ion-ios-arrow-back"></i
          ></a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="javascript:void(0);">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:void(0);">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:void(0);">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:void(0);"
            ><i class="icon ion-ios-arrow-forward"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--End::row-1 -->
