<app-page-header [title]="'Profile'" [items]="['Pages']" [active_item]="'Profile'" />

<!-- Start::row-1 -->
<div class="row row-sm">
  <div class="col-xl-4">
    <div class="card mb-4">
      <div class="card-body">
        <div class="ps-0">
          <div class="main-profile-overview">
            <span class="avatar avatar-xxl avatar-rounded main-img-user profile-user user-profile"> 
              <img   [src]="url1 ? url1 : './assets/images/faces/6.jpg'" alt="" class="profile-img"> 
              <a href="javascript:void(0);" class="badge rounded-pill bg-primary avatar-badge profile-edit"> 
                <input (change)="handleFileInput($event)" type="file" name="photo" class="position-absolute profile-change w-100 h-100 op-0" id=""> 
                <i class="fe fe-camera"></i> 
              </a> 
              </span>
            <div class="d-flex justify-content-between mb-4">
              <div>
                <h5 class="main-profile-name">Petey Cruiser</h5>
                <p class="main-profile-name-text text-muted">Web Designer</p>
              </div>
            </div>
            <h6 class="fs-14">Bio</h6>
            <div class="main-profile-bio">
              pleasure rationally encounter but because pursue consequences that
              are extremely painful.occur in which toil and pain can procure him
              some great pleasure..
              <a href="javascript:void(0);" class="text-primary">More</a>
            </div>
            <!-- main-profile-bio -->
            <div class="row">
              <div class="col-md-4 col mb20">
                <h5 class="fs-17">947</h5>
                <h6 class="text-small text-muted fs-14 mb-0">Followers</h6>
              </div>
              <div class="col-md-4 col mb20">
                <h5 class="fs-17">583</h5>
                <h6 class="text-small text-muted fs-14 mb-0">Tweets</h6>
              </div>
              <div class="col-md-4 col mb20">
                <h5 class="fs-17">48</h5>
                <h6 class="text-small text-muted fs-14 mb-0">Posts</h6>
              </div>
            </div>
            <hr class="border-0" />
            <label class="main-content-label fs-13 mb-4">Social</label>
            <div class="main-profile-social-list">
              @for (social of socialLinks; track $index) {
              <div class="media">
                <div [class]="social.bgClass">
                  <i [class]="'icon ' + social.iconClass"></i>
                </div>
                <div class="media-body">
                  <span>{{ social.name }}</span>
                  <a href="javascript:void(0);" class="text-primary">{{ social.link }}</a>
                </div>
              </div>
              }
            </div>

            <hr class="border-0" />
            <h6 class="fs-14">Skills</h6>
            @for (skill of skills; track $index) {
            <div class="skill-bar mb-4 clearfix mt-3">
              <span>{{ skill.name }}</span>
              <div class="progress mt-2">
                <div class="progress-bar" [ngClass]="skill.colorClass" role="progressbar"
                  [attr.aria-valuenow]="skill.progress" aria-valuemin="0" aria-valuemax="100"
                  [style.width.%]="skill.progress"></div>
              </div>
            </div>
            }
          </div>
          <!-- main-profile-overview -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8">
    <div class="row row-sm">
      @for (counter of counters; track $index) {
      <div class="col-sm-12 col-xl-4 col-lg-12 col-md-12">
        <cs-profile-card [iconClass]="counter.iconClass" [colorClass]="counter.colorClass" [title]="counter.title"
          [value]="counter.value" [changeDirection]="counter.changeDirection"
          [changePercentage]="counter.changePercentage"></cs-profile-card>
      </div>
      }
    </div>
    <div class="card">
      <div class="card-body">
        <div class="tabs-menu">
          <!-- Tabs -->
          <ul ngbNav #nav="ngbNav" class="nav nav-tabs profile navtab-custom panel-tabs pb-0 pt-0">
            <li [ngbNavItem]="1" class="">
              <a ngbNavLink data-bs-toggle="tab" class="" aria-expanded="true">
                <span class="visible-xs"><i class="las la-user-circle fs-16 me-1"></i></span>
                <span class="hidden-xs">ABOUT ME</span>
              </a>
              <ng-template ngbNavContent>
                <div class="border-0 p-0 " id="home">
                  <h4 class="fs-15 text-uppercase mb-3">BIO Data</h4>
                  <p>
                    Hi I'm Petey Cruiser,has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a
                    galley of type. Donec pede justo, fringilla vel, aliquet
                    nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                    imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
                    pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus
                    elementum semper nisi. Aenean vulputate eleifend tellus.
                    Aenean leo ligula, porttitor eu, consequat vitae, eleifend
                    ac, enim.
                  </p>
                  <div>
                    <h4 class="fs-15 text-uppercase mt-3">Experience</h4>
                    <div class="p-t-10">
                      <h5 class="text-primary fs-14">
                        Lead designer / Developer
                      </h5>
                      <p class="">websitename.com</p>
                      <p><b>2010-2015</b></p>
                      <p class="text-muted fs-13">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book.
                      </p>
                    </div>
                    <div class="">
                      <h5 class="text-primary fs-14">
                        Senior Graphic Designer
                      </h5>
                      <p class="">coderthemes.com</p>
                      <p><b>2007-2009</b></p>
                      <p class="text-muted fs-13 mb-0">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book.
                      </p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="2" class="">
              <a ngbNavLink data-bs-toggle="tab" aria-expanded="false">
                <span class="visible-xs"><i class="las la-images fs-15 me-1"></i></span>
                <span class="hidden-xs">GALLERY</span>
              </a>
              <ng-template ngbNavContent>
                <div class="border-0 p-0" id="gallery">
                  <div class="row" gallerize>
                    @for (img of imageData; track img) {
                    <div class="col-xxl-3 col-sm-6 col-12">
                      <div class="card overflow-hidden">
                        <a class="glightbox card shadow-none" data-gallery="gallery1">
                          <img [src]="img.srcUrl" alt="image" />
                        </a>
                        <h4 class="text-center fs-14 mt-3 mb-0">
                          Gallary Image
                        </h4>
                        <div class="ga-border"></div>
                        <p class="text-muted text-center">
                          <small>Photography</small>
                        </p>
                      </div>
                    </div>
                    }
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="3" class="">
              <a ngbNavLink data-bs-toggle="tab" aria-expanded="false">
                <span class="visible-xs"><i class="las la-life-ring fs-16 me-1"></i></span>
                <span class="hidden-xs">FRIENDS</span>
              </a>
              <ng-template ngbNavContent>
                <div class="border-0 p-0" id="friends01" role="tabpanel">
                  <div class="row">
                    @for (user of userCards; track $index) {
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
                      <cs-profile-friends [imageSrc]="user.imageSrc" [name]="user.name"
                        [role]="user.role"></cs-profile-friends>
                    </div>
                    }
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="4" class="">
              <a ngbNavLink data-bs-toggle="tab" aria-expanded="false">
                <span class="visible-xs"><i class="las la-cog fs-16 me-1"></i></span>
                <span class="hidden-xs">SETTINGS</span>
              </a>
              <ng-template ngbNavContent>
                <div class="border-0 p-0" id="settings">
                  <form>
                    <div class="form-group mb-3">
                      <label class="form-label" for="FullName">Full Name</label>
                      <input type="text" value="John Doe" id="FullName" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                      <label class="form-label" for="Email">Email</label>
                      <input type="email" value="first.last@example.com" id="Email" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                      <label class="form-label" for="Username">Username</label>
                      <input type="text" value="john" id="Username" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                      <label class="form-label" for="Password">Password</label>
                      <input type="password" placeholder="6 - 15 Characters" id="Password" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                      <label class="form-label" for="RePassword">Re-Password</label>
                      <input type="password" placeholder="6 - 15 Characters" id="RePassword" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                      <label class="form-label" for="AboutMe">About Me</label>
                      <textarea id="AboutMe" class="form-control">Loren gypsum dolor sit mate, consecrate disciplining lit, tied diam nonunion nib modernism tincidunt it Loretta dolor manga Amalia erst volute. Ur wise denim ad minim venial, quid nostrum exercise ration perambulator suspicious cortisol nil it applique ex ea commodore consequent.</textarea>
                    </div>
                    <button class="btn btn-primary waves-effect waves-light w-md" type="submit">
                      Save
                    </button>
                  </form>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>
        <div class="tab-content border border-top-0 p-4 br-dark customtab">
          <div [ngbNavOutlet]="nav"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End::row-1 -->